<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div style="text-align: center; width: 30%; margin: 25px auto">
            <h2>Add A New Room</h3>
            <form action="/rooms/new" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="url" placeholder="Image URL">
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="desc" rows="5" placeholder="Description"></textarea> 
                </div>
                <div class="form-group">
                    <button class="btn btn-md btn-primary btn-block">Submit</button>
                </div>    
                <div class="form-group">
                    <a href="/" class="btn btn-md btn-default btn-block">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>

<% include ../partials/footer %>