<% include partials/header %>
<h1>Welcome to our hotel</h1>
<% hotels.forEach(hotel => { %>
    <div>
        <h3><%= hotel.name %></h3>
        <img src="<%= hotel.image %>" />
    </div>
<% }); %>

<% include partials/footer %>