<% include partials/header %>
<form action="/hotels" method="POST">
    <input type="text" class="form-control" name="name" placeholder="name">
    <input type="text" class="form-control" name="url" placeholder="image url">
    <button>Submit</button>
</form>
<% include partials/footer %>