<% include partials/header %>
<style>

img:hover{
    -webkit-filter: blur(2px);
    filter: blur(2px);
    }
</style>
<div class="container">
    <div class="jumbotron">
        <h1>Welcome to our hotel</h1>
        <p>
            <a href="/rooms/new" class="btn btn-success">Add A New Room</a>
        </p>
    </div>
    
    <div class="row">
        <% hotels.forEach(hotel => { %>
        <div class="col-md-3 col-sm-6">
            <div class="image-blur">
            <a href="rooms/<%= hotel._id %>">
                <div class="thumbnail text-center">    
                    <div class="image">
                            <img src="<%= hotel.image %>" style=" width: 100%; height: 180px;" />
                    </div>
                    
                    <div class="caption">
                        <h5><%= hotel.name %></h5>
                    </div>
                </div>
            </a>
            </div>
        </div>
        <% }); %>
    </div>


</div>
<% include partials/footer %>