<% include partials/header %>
<style>

img:hover{
    -webkit-filter: blur(2px);
    filter: blur(2px);
    }
</style>
<div class="container">
    <!-- <div class="jumbotron">
        <h1>Welcome to our hotel</h1>
        <p>
            <a href="/rooms/new" class="btn btn-success">Add A New Room</a>
        </p>
    </div> -->

<!-- Jumbotron -->
<div class="jumbotron text-center">

        <!-- Title -->
      
        <!-- Card image -->
        <div class="container">
        <div class="view overlay my-4">
          <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" class="img-fluid" alt="" width="100%">
          <a href="#">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      
        <h4 class="card-title h4 pb-2"><strong>My adventure</strong></h4>
      
        <p class="card-text">Spending your good time with us...</p>
        <p>
                <a href="/rooms/new" class="btn btn-success">Add A New Room</a>
            </p>
      
      </div>
    </div>
      <!-- Jumbotron -->

    
    <div class="row">
        <% hotels.forEach(hotel => { %>
        <div class="col-md-3 col-sm-6">
            <div class="image-blur">
            <a href="rooms/<%= hotel._id %>">
                <div class="thumbnail text-center">    
                    <div class="image">
                            <img src="<%= hotel.image %>" style=" width: 100%; height: 180px;" />
                    </div>
                    
                    <div class="caption">
                        <h5><%= hotel.name %></h5>
                    </div>
                </div>
            </a>
            </div>
        </div>
        <% }); %>
    </div>


</div>
<% include partials/footer %>